{% extends 'base.html' %}


{% block title %}
Registration Page
{% endblock title %}


{% block content %}
    {% if not user.is_authenticated %}
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <p><label>Username: </label><br>
                <input type="text" name="username" placeholder="Enter Username">
            </p>
            {% if form.errors %}<p>{{ form.username.errors }}</p>{% endif %}

            <p><label>Password: </label><br>
                <input type="password" name="password1" placeholder="Enter Password">
            </p>
            {% if form.errors %}<p>{{ form.password1.errors }}</p>{% endif %}

            <p><label>Password Confirmation: </label><br>
                <input type="password" name="password2" placeholder="Enter Password Again">
            </p>
            {% if form.errors %}<p>{{ form.password2.errors }}</p>{% endif %}

            <p><input type="submit" value="Register"></p>
        </form>
    {% else %}
        <h2>You Are Currently Logged In!</h2>
        <button><a href="{% url 'logout' %}">Logout</a></button>
    {% endif %}
{% endblock content %}